@font-face {
  	font-family: "bffont";
	src: url("bffont.ttf");
}
::-webkit-scrollbar { 
    display: none; 
}
#orangeRect {
	background: linear-gradient(rgba(255, 156, 55, 0.96), rgba(181,109,35,0.96));
	margin-top: 48.6%;
	margin-left: 7.47%;
	width:20.5%;
	height: 4.3%;
}
#list {
	background-color: rgba(41,56,63,0.8);	
	margin-top:0px;
	margin-left: 7.47%;
	width:20.5%;
}
#item1, #item2, #item3, #item4, #item5, #item6, #item7, #item8, #item9{
	border:0;
	background-color: rgba(41,56,63,0.8);
}

label{
	/*font-family: '$MENU_medium';*/
	font-family: bffont;
	color: white;
	font-size: calc(0.7vh + 0.6vw);
	text-shadow:2px 2px 10px #7fccff;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	vertical-align: middle;
	line-height:1.7em;
	margin-left:3%;
	letter-spacing: 0.3px;
}
/* For resolutions lower than 720p */
.page {
	width: 100vw; 
	height: 56.25vw; /* height:width ratio = 9/16 = .5625  */
	/*background-color: rgba(256,256,256,0.5);*/
	max-height: 100vh;
	max-width: 177.78vh; /* 16/9 = 1.778 */
	margin: auto;
	position: absolute;
	top:0;bottom:0; /* vertical center */
	left:0;right:0; /* horizontal center */
	overflow: visible;
}


/* For resolutions higher than 720p */
@media screen and (min-height: 720px) and (min-width: 1280px){
  .page {
		width: 1280px; 
		height: 720px; 
		/*background-color: rgba(256,256,256,0.5);*/
		margin: auto;
		position: absolute;
		top:0;bottom:0;
		left:0;right:0;
		overflow: visible;
  }
  label{
  	font-size: 16px;
  }
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}